Repository bucket-back/bucket-back-backend, pull requests merged in 2024-01, with the labels that each got.

#203 [OMCT-271] 피드 랭킹 기능 추가
  bucketback-api/src/main/java/com/programmers/bucketback/domains/feed/api/FeedController.java
  bucketback-api/src/main/java/com/programmers/bucketback/domains/feed/api/response/FeedGetRankingResponse.java
  bucketback-api/src/main/java/com/programmers/bucketback/domains/feed/application/FeedService.java
  bucketback-api/src/main/java/com/programmers/bucketback/domains/feed/application/dto/response/FeedGetRankingServiceResponse.java
  bucketback-infrastructure/src/main/java/com/programmers/bucketback/redis/config/RedisConfig.java
  bucketback-infrastructure/src/main/java/com/programmers/bucketback/redis/feed/FeedRedisManager.java
  bucketback-infrastructure/src/main/java/com/programmers/bucketback/redis/feed/model/FeedRankingInfo.java
Labels: enhancement, SPRINT7

#217 [OMCT-411] 로그인 연장 기능 추가 - Refresh token으로 Access token 재발급
  bucketback-api/build.gradle
  bucketback-api/src/main/java/com/programmers/bucketback/domains/member/api/MemberController.java
  bucketback-api/src/main/java/com/programmers/bucketback/domains/member/api/dto/response/AccessTokenResponse.java
  bucketback-api/src/main/java/com/programmers/bucketback/domains/member/api/dto/response/MemberLoginResponse.java
  bucketback-api/src/main/java/com/programmers/bucketback/domains/member/application/MemberSecurityManager.java
  bucketback-api/src/main/java/com/programmers/bucketback/domains/member/application/MemberService.java
  bucketback-api/src/main/java/com/programmers/bucketback/domains/member/application/dto/response/MemberLoginServiceResponse.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/cache/CacheConfiguration.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/cache/CacheType.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/config/security/SecurityConfiguration.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/config/security/SecurityManager.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/config/security/jwt/JwtAuthenticationFilter.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/config/security/jwt/JwtConfig.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/config/security/jwt/JwtService.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/error/GlobalExceptionHandler.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/util/MemberUtils.java
  bucketback-common/src/main/java/com/programmers/bucketback/error/ErrorCode.java
Labels: enhancement

#219 [OMCT-408] 알림 전송 로직 수정
  bucketback-api/src/main/java/com/programmers/bucketback/domains/sse/SseEmitters.java
  bucketback-api/src/test/java/com/programmers/bucketback/domains/sse/SseEmittersTest.java
Labels: refactor

#175 [OMCT-347] 아이템 추가 통합 테스트
  bucketback-api/build.gradle
  bucketback-api/src/test/java/com/programmers/bucketback/IntegrationTest.java
  bucketback-api/src/test/java/com/programmers/bucketback/domains/item/application/ItemServiceTest.java
  bucketback-api/src/test/resources/truncate.sql
  bucketback-domain/build.gradle
  bucketback-domain/src/testFixtures/java/com/programmers/bucketback/domains/item/domain/setup/ItemSetup.java
Labels: test, SPRINT6

#221 [OMCT-265] Meber Implementation 단위테스트 추가
  bucketback-domain/src/main/java/com/programmers/bucketback/domains/member/implementation/MemberAppender.java
  bucketback-domain/src/test/java/com/programmers/bucketback/domains/member/implementation/MemberAppenderTest.java
  bucketback-domain/src/test/java/com/programmers/bucketback/domains/member/implementation/MemberCheckerTest.java
  bucketback-domain/src/test/java/com/programmers/bucketback/domains/member/implementation/MemberModifierTest.java
  bucketback-domain/src/test/java/com/programmers/bucketback/domains/member/implementation/MemberReaderTest.java
  bucketback-domain/src/test/java/com/programmers/bucketback/domains/member/implementation/MemberRemoverTest.java
Labels: test

#218 [OMCT-410] jwt,content 단위 테스트, feedReader 상세 조회 테스트
  bucketback-api/src/main/java/com/programmers/bucketback/global/config/security/SecurityManager.java
  bucketback-api/src/test/java/com/programmers/bucketback/global/config/security/jwt/JwtServiceTest.java
  bucketback-domain/src/main/java/com/programmers/bucketback/domains/comment/domain/vo/Content.java
  bucketback-domain/src/test/java/com/programmers/bucketback/domains/comment/domain/vo/ContentTest.java
  bucketback-domain/src/test/java/com/programmers/bucketback/domains/feed/implementation/FeedReaderTest.java
Labels: test

#220 [OMCT-345] VoteReader 단위테스트 추가
  bucketback-api/src/main/java/com/programmers/bucketback/domains/vote/application/VoteService.java
  bucketback-domain/src/main/java/com/programmers/bucketback/domains/vote/implementation/VoteReader.java
  bucketback-domain/src/test/java/com/programmers/bucketback/domains/vote/implementation/VoteReaderTest.java
  bucketback-domain/src/testFixtures/java/com/programmers/bucketback/domains/vote/domain/VoteBuilder.java
  bucketback-domain/src/testFixtures/java/com/programmers/bucketback/domains/vote/domain/VoterBuilder.java
  bucketback-domain/src/testFixtures/java/com/programmers/bucketback/domains/vote/model/VoteCursorSummaryBuilder.java
  bucketback-domain/src/testFixtures/java/com/programmers/bucketback/domains/vote/model/VoteSummaryBuilder.java
Labels: refactor, test

#222 [OMCT-408] emitter 생명주기를 짧게 수정함, securityConfiguration에 subscribe 예외 처리
  bucketback-api/src/main/java/com/programmers/bucketback/domains/sse/SseEmitters.java
  bucketback-api/src/main/java/com/programmers/bucketback/global/config/security/SecurityConfiguration.java
Labels: bug
